In [8]:
import requests
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

### HYDRO DATA

In [116]:
# Reading Hydro Data
engine  = create_engine('postgresql://postgres:postgres@dbname.cxw2xnixkpbl.ca-central-1.rds.amazonaws.com/postgres')

# Reflect an existing database into a new model
Base = automap_base()

# Reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table
hydro = Base.classes.hydro
weather = Base.classes.weather

In [117]:
session = Session(engine)
results = session.query(hydro.date,hydro.hour,hydro.demanded_toronto,hydro.weekday).all()

session.close()
    
hydro = []
for date, hour, demanded_toronto, weekday in results:
    hydro_dict = {}
    hydro_dict["date"] = date
    hydro_dict["hour"] = hour
    hydro_dict["demanded_toronto"] = demanded_toronto
    hydro_dict["weekday"] = weekday
    hydro.append(hydro_dict)

hydro[:5]

[{'date': datetime.date(2003, 5, 1),
  'demanded_toronto': 4422,
  'hour': 1,
  'weekday': True},
 {'date': datetime.date(2003, 5, 1),
  'demanded_toronto': 4340,
  'hour': 2,
  'weekday': True},
 {'date': datetime.date(2003, 5, 1),
  'demanded_toronto': 4281,
  'hour': 3,
  'weekday': True},
 {'date': datetime.date(2003, 5, 1),
  'demanded_toronto': 4281,
  'hour': 4,
  'weekday': True},
 {'date': datetime.date(2003, 5, 1),
  'demanded_toronto': 4469,
  'hour': 5,
  'weekday': True}]

In [118]:
Date = []
Hour = []
Demanded_Toronto = []
Weekday = []

for i in range (len(hydro)):
    Date.append(hydro[i]['date'])
    Hour.append(hydro[i]['hour'])
    Demanded_Toronto.append(hydro[i]['demanded_toronto'])
    Weekday.append(hydro[i]['weekday'])

    
hydro_df = pd.DataFrame({'Date': Date,
                           'Hour': Hour,
                           'Demanded_Toronto': Demanded_Toronto,
                           'Weekday': Weekday})

### WEATHER DATA

In [120]:
session = Session(engine)
results = session.query(weather.date,weather.hour,weather.dt,weather.timezone,weather.temp,weather.feels_like,weather.temp_min,weather.temp_max,weather.pressure,weather.humidity,weather.wind_speed,weather.wind_deg,weather.clouds_all,weather.weather_main,weather.weather_description).all()

session.close()
       
weather = []

for date,hour,dt,timezone,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_main,weather_description in results:
    weather_dict = {}
    weather_dict["date"] = date
    weather_dict["hour"] = hour
    weather_dict["dt"] = dt
    weather_dict["timezone"] = timezone
    weather_dict["temp"] = temp
    weather_dict["feels_like"] = feels_like
    weather_dict["temp_min"] = temp_min
    weather_dict["temp_max"] = temp_max
    weather_dict["pressure"] = pressure
    weather_dict["humidity"] = humidity
    weather_dict["wind_speed"] = wind_speed
    weather_dict["wind_deg"] = wind_deg
    weather_dict["clouds_all"] = clouds_all
    weather_dict["weather_main"] = weather_main
    weather_dict["weather_description"] = weather_description
    weather.append(weather_dict)



weather[:5]

[{'clouds_all': 90.0,
  'date': datetime.date(2003, 5, 1),
  'dt': 1051750800.0,
  'feels_like': 1.21,
  'hour': 1,
  'humidity': 49.0,
  'pressure': 1015.0,
  'temp': 7.52,
  'temp_max': 9.0,
  'temp_min': 3.32,
  'timezone': -14400.0,
  'weather_description': 'overcast clouds',
  'weather_main': 'Clouds',
  'wind_deg': 80.0,
  'wind_speed': 5.7},
 {'clouds_all': 90.0,
  'date': datetime.date(2003, 5, 1),
  'dt': 1051754400.0,
  'feels_like': 1.53,
  'hour': 2,
  'humidity': 52.0,
  'pressure': 1015.0,
  'temp': 7.03,
  'temp_max': 8.0,
  'temp_min': 3.52,
  'timezone': -14400.0,
  'weather_description': 'moderate rain',
  'weather_main': 'Rain',
  'wind_deg': 50.0,
  'wind_speed': 4.6},
 {'clouds_all': 90.0,
  'date': datetime.date(2003, 5, 1),
  'dt': 1051758000.0,
  'feels_like': -0.39,
  'hour': 3,
  'humidity': 65.0,
  'pressure': 1014.0,
  'temp': 6.57,
  'temp_max': 7.7,
  'temp_min': 3.63,
  'timezone': -14400.0,
  'weather_description': 'light rain',
  'weather_main': 'Rain',
  'wind_deg': 50.0,
  'wind_speed': 7.2},
 {'clouds_all': 90.0,
  'date': datetime.date(2003, 5, 1),
  'dt': 1051761600.0,
  'feels_like': -1.47,
  'hour': 4,
  'humidity': 56.0,
  'pressure': 1013.0,
  'temp': 6.8,
  'temp_max': 8.0,
  'temp_min': 3.65,
  'timezone': -14400.0,
  'weather_description': 'overcast clouds',
  'weather_main': 'Clouds',
  'wind_deg': 70.0,
  'wind_speed': 8.7},
 {'clouds_all': 20.0,
  'date': datetime.date(2003, 5, 1),
  'dt': 1051765200.0,
  'feels_like': 1.63,
  'hour': 5,
  'humidity': 65.0,
  'pressure': 1012.0,
  'temp': 6.74,
  'temp_max': 8.0,
  'temp_min': 3.73,
  'timezone': -14400.0,
  'weather_description': 'few clouds',
  'weather_main': 'Clouds',
  'wind_deg': 90.0,
  'wind_speed': 4.6}]

In [121]:
Date = []
Hour = []
Clouds = []
UTC_Date =[]
Feels_Like = []
Humidity = []
Pressure = []
Temperature = []
Temp_Max = []
Temp_Min = []
TimeZone = []
Weather_Description = []
Weather_Main = []
Wind_Direction = []
Wind_Speed = []

for i in range (len(weather)):
    Date.append(weather[i]['date'])
    Hour.append(weather[i]['hour'])
    Clouds.append(weather[i]['clouds_all'])
    UTC_Date.append(weather[i]['dt'])
    Feels_Like.append(weather[i]['feels_like'])
    Humidity.append(weather[i]['humidity'])
    Pressure.append(weather[i]['pressure'])
    Temperature.append(weather[i]['temp'])
    Temp_Max.append(weather[i]['temp_max'])
    Temp_Min.append(weather[i]['temp_min'])
    TimeZone.append(weather[i]['timezone'])
    Weather_Description.append(weather[i]['weather_description'])
    Weather_Main.append(weather[i]['weather_main'])
    Wind_Direction.append(weather[i]['wind_deg'])
    Wind_Speed.append(weather[i]['wind_speed'])
    
    
weather_df = pd.DataFrame({'Date': Date,
                           'Hour': Hour,
                           'Clouds': Clouds,
                           'UTC_Date': UTC_Date,
                           'Feels_Like': Feels_Like,
                           'Humidity': Humidity,                          
                           'Pressure': Pressure,                          
                           'Temperature': Temperature,
                           'Temp_Max': Temp_Max,
                           'Temp_Min': Temp_Min,
                           'TimeZone': TimeZone,
                           'Weather_Description': Weather_Description,
                           'Weather_Main': Weather_Main,
                           'Wind_Direction': Wind_Direction,
                           'Wind_Speed': Wind_Speed                          
                          })

In [122]:
weather_df.head(100)

          Date  Hour  Clouds  ...  Weather_Main  Wind_Direction  Wind_Speed
0   2003-05-01     1    90.0  ...        Clouds            80.0         5.7
1   2003-05-01     2    90.0  ...          Rain            50.0         4.6
2   2003-05-01     3    90.0  ...          Rain            50.0         7.2
3   2003-05-01     4    90.0  ...        Clouds            70.0         8.7
4   2003-05-01     5    20.0  ...        Clouds            90.0         4.6
..         ...   ...     ...  ...           ...             ...         ...
95  2003-05-05     4     1.0  ...         Clear            60.0         6.2
96  2003-05-05     5     1.0  ...         Clear            60.0         7.2
97  2003-05-05     6     1.0  ...         Clear            60.0         7.2
98  2003-05-05     7     1.0  ...         Clear            70.0         7.7
99  2003-05-05     8     1.0  ...         Clear            70.0         6.7

[100 rows x 15 columns]

In [124]:
# Merge weather and hydro datasets 
combined_df = pd.merge(weather_df, hydro_df, on= ['Date', 'Hour'], how="inner") 

# Drop unneccesary columns

# combined_df = combined_df.drop(['UTC_Date', 'TimeZone', 'Weather_Description', 'Weather_Main', 'Feels_Like', 'Wind_Direction', 'Clouds', 'Temp_Max', 'Temp_Min'], axis =1)
# combined_df = combined_df.drop(['UTC_Date', 'TimeZone', 'Weather_Description', 'Weather_Main', 'Feels_Like', 'Wind_Direction', 'Clouds'], axis =1)
# combined_df = combined_df.drop(['UTC_Date', 'TimeZone', 'Weather_Description', 'Weather_Main', 'Feels_Like', 'Wind_Direction'], axis =1)
combined_df = combined_df.drop(['Date', 'UTC_Date', 'TimeZone', 'Weather_Description', 'Weather_Main', 'Feels_Like', 'Wind_Direction', 'Pressure', 'Temp_Max', 'Temp_Min', 'Clouds'], axis =1)


combined_df.head()

         Date  Hour  Clouds  ...  Wind_Speed  Demanded_Toronto  Weekday
0  2003-05-01     1    90.0  ...         5.7              4422     True
1  2003-05-01     2    90.0  ...         4.6              4340     True
2  2003-05-01     3    90.0  ...         7.2              4281     True
3  2003-05-01     4    90.0  ...         8.7              4281     True
4  2003-05-01     5    20.0  ...         4.6              4469     True

[5 rows x 17 columns]

In [125]:
# Add demand from previous day as a new feature

combined_df['Previous_Day_Demand'] = ''
combined_df['Previous_Hour_Temperature'] = ''

for i in range(24, len(combined_df)):
  combined_df.loc[i,'Previous_Day_Demand'] = combined_df.loc[i-24, 'Demanded_Toronto']
  combined_df.loc[i-23,'Previous_Hour_Temperature'] = combined_df.loc[i-23, 'Temperature'] - combined_df.loc[i-24, 'Temperature']

for i in range(23):
  combined_df.loc[i,'Previous_Day_Demand'] = combined_df.loc[i,'Demanded_Toronto']

combined_df.loc[0,'Previous_Hour_Temperature'] = combined_df.loc[0, 'Temperature']
combined_df.head()

         Date  Hour  ...  Previous_Day_Demand  Previous_Hour_Temperature
0  2003-05-01     1  ...                 4422                       7.52
1  2003-05-01     2  ...                 4340                      -0.49
2  2003-05-01     3  ...                 4281                      -0.46
3  2003-05-01     4  ...                 4281                       0.23
4  2003-05-01     5  ...                 4469                      -0.06

[5 rows x 19 columns]

In [126]:
combined_df.head(48)

          Date  Hour  ...  Previous_Day_Demand  Previous_Hour_Temperature
0   2003-05-01     1  ...                 4422                       7.52
1   2003-05-01     2  ...                 4340                      -0.49
2   2003-05-01     3  ...                 4281                      -0.46
3   2003-05-01     4  ...                 4281                       0.23
4   2003-05-01     5  ...                 4469                      -0.06
5   2003-05-01     6  ...                 4951                       0.34
6   2003-05-01     7  ...                 5692                      -0.63
7   2003-05-01     8  ...                 6105                      -0.16
8   2003-05-01     9  ...                 6244                      -0.39
9   2003-05-01    10  ...                 6323                       0.21
10  2003-05-01    11  ...                 6402                      -0.38
11  2003-05-01    12  ...                 6426                       0.15
12  2003-05-01    13  ...                 6447                       1.39
13  2003-05-01    14  ...                 6398                          1
14  2003-05-01    15  ...                 6358                       2.33
15  2003-05-01    16  ...                 6349                       1.97
16  2003-05-01    17  ...                 6288                        1.3
17  2003-05-01    18  ...                 6152                       2.02
18  2003-05-01    19  ...                 6049                       0.58
19  2003-05-01    20  ...                 6148                       0.46
20  2003-05-01    21  ...                 6038                        0.1
21  2003-05-01    22  ...                 5592                      -2.01
22  2003-05-01    23  ...                 5041                      -1.57
23  2003-05-02     1  ...                                           -1.66
24  2003-05-02     2  ...                 4422                      -0.72
25  2003-05-02     3  ...                 4340                      -0.55
26  2003-05-02     4  ...                 4281                      -0.01
27  2003-05-02     5  ...                 4281                      -0.61
28  2003-05-02     6  ...                 4469                       -0.3
29  2003-05-02     7  ...                 4951                         -1
30  2003-05-02     8  ...                 5692                      -0.52
31  2003-05-02     9  ...                 6105                       0.64
32  2003-05-02    10  ...                 6244                       0.18
33  2003-05-02    11  ...                 6323                       0.03
34  2003-05-02    12  ...                 6402                       0.01
35  2003-05-02    13  ...                 6426                       0.38
36  2003-05-02    14  ...                 6447                       1.15
37  2003-05-02    15  ...                 6398                      -0.24
38  2003-05-02    16  ...                 6358                       0.27
39  2003-05-02    17  ...                 6349                       0.55
40  2003-05-02    18  ...                 6288                       0.17
41  2003-05-02    19  ...                 6152                      -0.07
42  2003-05-02    20  ...                 6049                      -0.13
43  2003-05-02    21  ...                 6148                      -1.25
44  2003-05-02    22  ...                 6038                       0.17
45  2003-05-02    23  ...                 5592                      -0.77
46  2003-05-03     1  ...                 5041                      -0.41
47  2003-05-03     2  ...                 4428                      -0.11

[48 rows x 19 columns]

In [101]:
# combined_df['Date'] = combined_df['Date'].astype(str)

# combined_df['Date'].replace('-', '', regex = True).astype('float')

In [112]:
combined_df.head(49)

    Hour  Humidity  Temperature  ...  Demanded_Toronto  Weekday  Previous_Day_Demand
0      1      49.0         7.52  ...              4422     True                 4422
1      2      52.0         7.03  ...              4340     True                 4340
2      3      65.0         6.57  ...              4281     True                 4281
3      4      56.0         6.80  ...              4281     True                 4281
4      5      65.0         6.74  ...              4469     True                 4469
5      6      63.0         7.08  ...              4951     True                 4951
6      7      75.0         6.45  ...              5692     True                 5692
7      8      75.0         6.29  ...              6105     True                 6105
8      9      75.0         5.90  ...              6244     True                 6244
9     10      75.0         6.11  ...              6323     True                 6323
10    11      81.0         5.73  ...              6402     True                 6402
11    12      83.0         5.88  ...              6426     True                 6426
12    13      87.0         7.27  ...              6447     True                 6447
13    14      87.0         8.27  ...              6398     True                 6398
14    15      87.0        10.60  ...              6358     True                 6358
15    16      87.0        12.57  ...              6349     True                 6349
16    17      76.0        13.87  ...              6288     True                 6288
17    18      69.0        15.89  ...              6152     True                 6152
18    19      68.0        16.47  ...              6049     True                 6049
19    20      64.0        16.93  ...              6148     True                 6148
20    21      59.0        17.03  ...              6038     True                 6038
21    22      63.0        15.02  ...              5592     True                 5592
22    23      63.0        13.45  ...              5041     True                 5041
23     1      67.0        11.79  ...              4428     True
24     2      71.0        11.07  ...              4293     True                 4422
25     3      71.0        10.52  ...              4225     True                 4340
26     4      71.0        10.51  ...              4223     True                 4281
27     5      76.0         9.90  ...              4403     True                 4281
28     6      81.0         9.60  ...              4876     True                 4469
29     7      87.0         8.60  ...              5545     True                 4951
30     8      87.0         8.08  ...              5921     True                 5692
31     9      87.0         8.72  ...              6112     True                 6105
32    10      81.0         8.90  ...              6258     True                 6244
33    11      81.0         8.93  ...              6318     True                 6323
34    12      81.0         8.94  ...              6294     True                 6402
35    13      81.0         9.32  ...              6266     True                 6426
36    14      71.0        10.47  ...              6191     True                 6447
37    15      76.0        10.23  ...              6105     True                 6398
38    16      76.0        10.50  ...              6029     True                 6358
39    17      71.0        11.05  ...              5936     True                 6349
40    18      73.0        11.22  ...              5787     True                 6288
41    19      71.0        11.15  ...              5698     True                 6152
42    20      71.0        11.02  ...              5794     True                 6049
43    21      75.0         9.77  ...              5801     True                 6148
44    22      70.0         9.94  ...              5772     True                 6038
45    23      75.0         9.17  ...              5673     True                 5592
46     1      70.0         8.76  ...              4606    False                 5041
47     2      43.0         8.65  ...              4146    False                 4428
48     3      49.0         7.12  ...              4063    False                 4293

[49 rows x 7 columns]

In [103]:
X = combined_df.drop(['Demanded_Toronto'], axis=1)
y = combined_df["Demanded_Toronto"].values.reshape(-1, 1)

X = X.apply(pd.to_numeric, errors='coerce')

X.fillna(0, inplace=True)

print(X.shape, y.shape)

(145271, 6) (145271, 1)

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [30]:
# from sklearn.preprocessing import StandardScaler

# X_scaler = StandardScaler().fit(X_train)

# scaled_X_train = X_scaler.transform(X_train)
# scaled_X_test = X_scaler.transform(X_test)

In [105]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [106]:
score = model.score(X_train, y_train)
print(f"R2 Score: {score}")

R2 Score: 0.9300909248130309

In [107]:
score = model.score(X_test, y_test)
print(f"R2 Score: {score}")

R2 Score: 0.9290218788410838

In [127]:
# Write DataFrame to table
url = 'postgresql://postgres:postgres@dbname.cxw2xnixkpbl.ca-central-1.rds.amazonaws.com/postgres'
combined_df.write.jdbc(url=url, table='combined_data', mode=mode, properties=config)

AttributeError: ignored